mixin marquee(text)
  .c-marquee
    .c-marquee__wrap
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}

mixin marqueeFooter(text)
  .c-marquee.--footer
    .c-marquee__wrap
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}
      .c-marquee__content
        span #{text}